<!-- <div class="a" style="
    background-image: url(/public/background_img/img_home.jpg);
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    ">

</div> -->
<img src="/public/background_img/img_home.jpg" alt="logo_home" style="height: 100%;
width: 100%;object-fit:cover;" >


