
<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="img_login">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
                    <div style="text-align: center;"><i class="fas fa-lock" style="font-size: 36px; color: white;"></i></div>
					<h3 style="text-align: center;">Forgot Password ?</h3>
				</div>
				<div class="card-body">
					<form>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-paper-plane"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Email">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="New Password">
						</div>
						<div class="form-group">
							<input type="submit" value="Reset Password" class="btn login_btn" style="width:100%; font-weight: bold;">
                        </div>
                        <div class="form-group">
							<a href="/" class="btn btn-outline-danger" style="width:100%;font-weight: bold;">Cancle</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

