
<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="img_login">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<form id="Login_user">
				<div class="card">
					<div class="card-header">
						<h3>Sign In</h3>
						<div class="d-flex justify-content-end social_icon">
							<span><i class="fab fa-facebook-square" style="font-size: 36px;"></i></span>
							<span><i class="fab fa-google-plus-square" style="font-size: 36px;"></i></span>
							<span><i class="fab fa-twitter-square" style="font-size: 36px;"></i></span>
						</div>
					</div>
					<div class="card-body">
						<form>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="username" id="username" name="username" required>
								
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" class="form-control" placeholder="password" id="password" name="password" required>
							</div>
							<div class="row align-items-center remember">
								<input type="checkbox">Remember Me
							</div>
							<div class="form-group">
								<input type="submit" value="Login" class="btn float-right login_btn">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							Don't have an account?<a href="sign_up">Sign Up</a>
						</div>
						<div class="d-flex justify-content-center">
							<a href="forgot_password">Forgot your password?</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
    $(document).ready(function(){

        $('#Login_user').on('submit',function(e){
            e.preventDefault();
            let username = $('#username').val();
            let password = $('#password').val();
            $.ajax({
                url:'Login_user',
                type:'POST',
				data: { 'username': username,'password': password,},
				
                success: function (result) {
					alert(result);
					if(result=="ok")
					{
						$('#name_login').html(localStorage.getItem('account'));
						window.location.href = '/'; //chuyen trang
					}	
                }
            });
            return false;
        })

    });
</script>